.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-content-1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  h3 {
    margin: 0 5%;
  }
}
.header-content-2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  h3 {
    margin: 0 5%;
  }
}

.banner-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr;
  gap: 2%;
}
